<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>coin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>coin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,57},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>coin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,31},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,99},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{6,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{6,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,99},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,83},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coinAnmi.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:836440e3fdad1974c692819c3854e327$</string>
            <key>textureFileName</key>
            <string>coinAnmi.png</string>
        </dict>
    </dict>
</plist>
