<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,188},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>trap_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>trap_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{82,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,68}}</string>
                <key>sourceSize</key>
                <string>{82,68}</string>
            </dict>
            <key>trap_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{131,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,99}}</string>
                <key>sourceSize</key>
                <string>{131,99}</string>
            </dict>
            <key>trap_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,105},{81,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,99}}</string>
                <key>sourceSize</key>
                <string>{81,99}</string>
            </dict>
            <key>trap_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{58,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,128}}</string>
                <key>sourceSize</key>
                <string>{58,128}</string>
            </dict>
            <key>trap_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>trap_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,101}}</string>
                <key>sourceSize</key>
                <string>{219,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cd5b3b2306dd9a5827a8bcd8e41d9bc$</string>
            <key>textureFileName</key>
            <string>trap.png</string>
        </dict>
    </dict>
</plist>
